<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Para evitar el cache del navegador -->
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Last-Modified" content="0">
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="icon" type="image/png" href="{{ base_url() }}/img/favicon.ico">
	    <!-- Bootstrap CSS (bootswatch theme Cosmo) -->
	    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">
		<!-- Otros estilos -->
		<link rel="stylesheet" href="{{ base_url() }}/css/jquery-confirm.min.css">
		<link rel="stylesheet" href="{{ base_url() }}/css/buscarClienteReparto.css">

		<title>{{ titulo }}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div id="buscarClienteRep">
				<div class="row">
	    			<div class="col mr-4 mt-2 mb-0">
	    				<h4 class="text-dark float-right"><strong>Agregar Cliente a Guía de Reparto</strong></h4>
	    				<br>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-2 ml-4 mt-0">
	    				<p>Buscar por:</p>
	    			</div>
	    			<div class="col-8 ml-2">
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="radApellido" name="radFiltro" class="custom-control-input" value="ape" checked="true">
						  <label class="custom-control-label" for="radApellido">Apellido</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="radFantasia" name="radFiltro" class="custom-control-input" value="fan">
						  <label class="custom-control-label" for="radFantasia">Fantasía</label>
						</div>
	    			</div>
	    		</div>

	    		<div class="row">
	    			<div class="col-4 ml-4">
	    				<input id="filter" class="form-control form-control-sm" type="text" placeholder="Filtrar por apellido..." autofocus>
	  				</div>

					<div class="col-7">
						<form class="form-inline form-sm" id="formOrden">
							<label class="ml-4 mr-2 mb-2" for="orden">Orden de visita:</label> {# quito clase numero, agrego inputMask #}
							<input type="text" class="form-control form-control-sm mb-2 cellRight" id="orden" name="orden">

							<input type="hidden" id="idclie" name="idclie">		{# id de cliente seleccionado #} 
							<input type="hidden" id="apellidoNom" name="apellidoNom">		{# apellidoNom #}
							<input type="hidden" id="iddomi" name="iddomi">		{# id domicilio cliente seleccionado #}
							<input type="hidden" id="domicilio" name="domicilio">		{# domicilio #}
							<input type="hidden" id="localidad" name="localidad">		{# localidad #}
							<input type="hidden" id="celular" name="celular">		{# celular #}

							<button id="btnSelecClie" type="button" class="btn btn-sm btn-primary mb-2 ml-4" disabled>Seleccionar</button>
						</form>
					</div>

				</div>

				<br />

				<div class="row">
					<div class="col mt-4 ml-4 mr-4">
						<table class="table table-sm table-hover table-scroll small-first-col" id="tablaBuscarCli">
			                <thead class="thead-dark">
			                  <tr>
			                    <th class="text-right" scope="col">#</th>
			                    <th scope="col">Apellido Nombre</th>
			                    <th scope="col">Nombre fantasía</th>
			                    <th style="display:none;">Id domicilio</th>
			                    <th scope="col">Dirección</th>
			                    <th scope="col">Localidad</th>
			                    <th scope="col">Celular</th>
			                  </tr>
			                </thead>
			                <tbody class="datos body-half-screen">
			                    {% for cliente in clientes %}
			    					<tr>
			        				    <td class="text-right">{{ cliente.id }}</td>
			      					    <td class="filter-cell1">{{ cliente.nombre }}</td>
			      					    <td class="filter-cell2">{{ cliente.fantasia }}</td>
			      					    <td style="display:none;">{{ cliente.iddomicil }}</td>
			      					    <td>{{ cliente.direccion }}</td>
			                            <td>{{ cliente.localidad }}</td>
			                            <td>{{ cliente.celular }}</td>
			                        </tr>
			                    {% endfor %}
			                </tbody>
			            </table>
					</div>
				</div>

				<div class="row">
					<div class="col mt-2 mr-4 pr-4">
						<button id="btnCerrar" type="button" class="btn btn-sm btn-secondary float-right">Cerrar</button>
					</div>
				</div>

			</div>
    	</div>

	    <script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
		<script src="{{ base_url() }}/js/popper.min.js"></script>
	    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
		<script src="{{ base_url() }}/js/jquery.inputmask.bundle.min.js" charset="utf-8"></script>
		<script src="{{ base_url() }}/js/jquery-confirm.min.js"></script>
		<script src="{{ base_url() }}/js/jquery.tableFilter.js"></script>

		<script type="text/javascript">

			var _pathGuiaReparto = "{{ path_for('repartos.guiareparto') }}";
		</script>

		<script src="{{ base_url() }}/js/buscarClienteReparto.js?ver=0.0.3"></script>
	</body>
</html>
