			<form id="form-guia-reparto" autocomplete="off">
				<div class="form-row">
					<div class="form-group col-md-1">
						<label for="idGuia">Id Guía:</label>
						<input type="text" class="form-control form-control-sm" id="idGuia" value="{{ data.Id }}" name="idGuia" aria-describedby="idGuia" readonly>
					</div>
					<div class="form-group col-md-3">
						<label for="nombre">Nombre Guía:</label>
						<input type="text" class="form-control form-control-sm" id="nombre" name="nombre" value="{{ data.Nombre }}">
					</div>
					<div class="form-group col-md-2">
						<label for="diaSemana">Día de la semana</label>
						<select id="diaSemana" class="form-control form-control-sm" name="diaSemana">
							<option  value='0' {% if data.DiaSemana == '0' %}selected{% endif %}>Seleccione...</option>
							<option{% if data.DiaSemana == 'Lunes' %} selected{% endif %}>Lunes</option>
							<option{% if data.DiaSemana == 'Martes' %} selected{% endif %}>Martes</option>
							<option{% if data.DiaSemana == 'Miercoles' %} selected{% endif %}>Miercoles</option>
							<option{% if data.DiaSemana == 'Jueves' %} selected{% endif %}>Jueves</option>
							<option{% if data.DiaSemana == 'Viernes' %} selected{% endif %}>Viernes</option>
							<option{% if data.DiaSemana == 'Sabado' %} selected{% endif %}>Sabado</option>
							<option{% if data.DiaSemana == 'Domingo' %} selected{% endif %}>Domingo</option>
						</select>
			    	</div>
				    <div class="form-group col-md-3">
				        <label for="idEmpleado">Repartidor</label>
				        <select id="idEmpleado" class="form-control form-control-sm" name="idEmpleado">
				            <option value='0' {% if data.IdEmpleado == '0' %}selected{% endif %}>Seleccione...</option>
				            {% for repartidor in repartidores %}
					            	<option value="{{ repartidor.id }}" {% if data.IdEmpleado == repartidor.id %}selected{% endif %}>{{ repartidor.nombre }}</option>
					        {% endfor %}
				        </select>
				    </div>
				    <div class="form-group col-md-3"></div>
			    </div>
			    <div class="form-row">
				    <div class="form-group col-md-2">
				        <label for="turno">Turno</label>
				        <select id="turno" class="form-control form-control-sm" name="turno">
				            <option value='0' {% if data.Turno == '0' %}selected{% endif %}>Seleccione...</option>
				            <option{% if data.Turno == 'Mañana' %} selected{% endif %}>Mañana</option>
				            <option{% if data.Turno == 'Tarde' %} selected{% endif %}>Tarde</option>
				        </select>
				    </div>
			    	<div class="form-group col-md-1">
			      		<label for="horaSalida">Salida</label>
			      		<input type="text" class="form-control form-control-sm" id="horaSalida" name="horaSalida"{% if data.HoraSalida != '' %} value="{{ data.HoraSalida[:5] }}"{% endif %}>
			    	</div>
			    	<div class="form-group col-md-1">
			      		<label for="horaRetorno">Retorno</label>
			      		<input type="text" class="form-control form-control-sm" id="horaRetorno" name="horaRetorno"{% if data.HoraRetorno != '' %} value="{{ data.HoraRetorno[:5] }}"{% endif %}>
			    	</div>
				    <div class="form-group col-md-3">
				        <label for="idActividad">Actividad</label>
				        <select id="idActividad" class="form-control form-control-sm" name="idActividad">
				            <option value='0'{% if data.IdActividad == '0' %} selected{% endif %}>Seleccione...</option>
				            <option value='1'{% if data.IdActividad == '1' %} selected{% endif %}>Agua Mineralizada</option>
							<option value='2'{% if data.IdActividad == '2' %} selected{% endif %}>Agua Desmineralizada</option>
				            <option value='3'{% if data.IdActividad == '3' %} selected{% endif %}>Hielo</option>
				            <option value='4'{% if data.IdActividad == '4' %} selected{% endif %}>Soda</option>
				        </select>
				    </div>
				    <div class="form-group col-md-2">
				        <label for="estado">Estado</label>
				        <select id="estado" class="form-control form-control-sm" name="estado">
				            <option{% if data.Estado == 'Vigente' %} selected{% endif %}>Vigente</option>
				            <option{% if data.Estado == 'Baja' %} selected{% endif %}>Baja</option>
				        </select>
				    </div>

				    <div class="form-group col-md-3">
				    	<button id="btnGuardarGR" type="submit" class="btn btn-success"{% if accion == 'Nueva' %} disabled{% endif %} data-toggle="tooltip" data-placement="left" title="Guardar Guía completa"><i class="fas fa-save"></i>&nbsp; Guardar</button>

						{# Para CSRF control #}
						{{ csrf.field | raw }}
				    </div>
				</div>
			</form>

		{% include 'partes/enviando.twig' %}

		<hr>