{% extends 'base.twig' %}

	{% block head %}
		{{ parent() }}

		<link rel="stylesheet" href="{{ base_url() }}/css/all.css">
		{# CSS para funciones de confirm.js #}
		<link rel="stylesheet" href="{{ base_url() }}/css/jquery-confirm.min.css">

		<style type="text/css">
			html {
				scroll-behavior: smooth;
			}
			table#tablaClientesGR th {   /* Crea el sticky para titulos de tabla clientes con abono */
  				position: sticky;
  				top: 68px;
			}
			.celInputCant {
				width: 60px; 
				float: right;
				height: 25px; 
			}
			/* Ocultar primera columna de tabla cantidad productos cliente */
			#tableCantProdClie th:nth-of-type(1) {
				display: none;
			}
			#tbodyTablaClientesGR {
				font-size: 85%;
			}
			#tableCantProdClie td:nth-of-type(1) {
				display: none;
			} 
		</style>

	{% endblock %}	

	{% block title %}{{ titulo }}{% endblock %} 

	{% block navigation %}
		{% include 'repartos/guiadereparto/navigationGuiaReparto.twig' %}
	{% endblock %}

	{% block breadcrumbs %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb">
					    <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="{{ path_for('home') }}">Menú</a></li>
						    <li class="breadcrumb-item"><a href="{{ path_for('home') }}">Repartos</a></li>
						    <li class="breadcrumb-item"><a href="#">Guía de reparto</a></li>
						    <li class="breadcrumb-item active" aria-current="page">{{ accion }}</li>
					    </ol>
					</nav>
				</div>
			</div>

			{% if hayMensaje != '' %}
				<div class="row mensaje">
					<div class="col">
						<div class="alert alert-success" role="alert">
							<strong>{{ hayMensaje }}</strong>
                        </div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endblock %}

	{% block content %}
		{% include 'repartos/guiadereparto/contentGuiaReparto.twig' %}
		{% include 'repartos/guiadereparto/modalIngresoProd.twig' %}
	{% endblock %}

	{% block javascript %}
		{{ parent() }}

		{# <script src="https://unpkg.com/imask"></script> #}
		<script src="{{ base_url() }}/js/imask.min.js"></script>
		<script src="{{ base_url() }}/js/jquery-confirm.min.js"></script>
		<script src="{{ base_url() }}/js/enterXtab.js"></script>

		<script type="text/javascript">
			// Variables globales de path
			const _pathPostGuiaReparto   = "{{ path_for('repartos.guiareparto') }}" ;
			const _pathBuscarCliente     = "{{ path_for('repartos.buscarcliente') }}";

			var ACTIONS_BTNS = {}

			var GUIAREPARTO = {
				id: "{{ idGuia }}",
				winBuscar: false,   // Variable para saber si está abierta la ventana de búsqueda
				objWinBuscar: { _cerrar: false },   // Ventana de búsqueda
			}

			var MODALPRODS = {
				dataModalProds: [],
			}

			var DATA_GR = {
				clientes: [],
				productosClie: [],
				totalProdsReparto: [],
			}

			let obj = {};
			{% for cli in clientesGR %}		// Array de clientes 
				obj.id          = "{{ cli.id }}";
				obj.idCli       = "{{ cli.idCliente }}";
				obj.apellidoNom = "{{ cli.apellidoNom }}";
				obj.domicilio   = "{{ cli.domicilio }}";
				obj.localidad   = "{{ cli.localidad }}";
				obj.idDomicilio = "{{ cli.idDomicilio }}";
				obj.celular     = "{{ cli.celular }}";
				obj.ordenVisita = parseInt("{{ cli.ordenVisita }}");
				obj.borrado     = parseInt("{{ cli.borrado }} ");
				DATA_GR.clientes.push( obj );
				obj = {};
			{% endfor %}

			{% for prod in productosClie %}		// Array de productos de clientes 
				obj.idCliente   = "{{ prod.idCliente }}";
				obj.idDomicilio = "{{ prod.idDomicilio }}";
				obj.idProducto  = "{{ prod.idProducto }}";
				obj.producto    = "{{ prod.producto }}";
				obj.cantidad    = "{{ prod.cantSugerida }}";
				DATA_GR.productosClie.push( obj );
				obj = {};
			{% endfor %}

			{% for rep in totalReparto %}		// Array de productos de clientes 
				obj.idProduc = "{{ rep.IdProducto }}";
				obj.producto = "{{ rep.producto }}";
				obj.cantidad = "{{ rep.sumaCant }}";
				DATA_GR.totalProdsReparto.push( obj );
				obj = {};
			{% endfor %}

		</script>

		<script src="{{ base_url() }}/js/guiareparto.js?ver=0.0.7"></script>

	{% endblock %}
