			<h5 class="text-left text-dark titulo-tabla mb-0"><strong>Detalle Visitas a Clientes</strong></h5>

			<button id="btnAgregarClie" type="button" class="btn btn-primary mb-2 float-right"{% if accion == 'Nueva' %} disabled{% endif %} data-toggle="tooltip" data-placement="left" title="Agregar cliente"><i class="fas fa-plus"></i>&nbsp; Agregar</button>

			<div class="table-responsive-md">
				<table id="tablaClientesGR" class="table table-sm table-hover">
				    <thead class="thead-dark">
					    <tr>
					        <th class="text-center">Cuenta</th>
					        <th>Apellido y Nombre</th>
					        <th>Orden visita</th>
					        <th>Dirección</th>
					        <th>Localidad</th>
					        <th>Celular</th>
					        <th class="text-center" colspan="3">Acciones</th>
					    </tr>
				    </thead>
				    <tbody id="tbodyTablaClientesGR">
					    {% if clientesGR %}
					    	{% for cliente in clientesGR %}
								{% if not cliente.borrado %}
								    <tr>
								        <td id="tablaId" class="text-center">{{ cliente.idCliente }}</td>
								        <td>{{ cliente.apellidoNom }}</td>
								        <td class="text-center">{{ cliente.ordenVisita }}</td>
								        <td>{{ cliente.domicilio }}</td>
								        <td>{{ cliente.localidad }}</td>
								        <td>{{ cliente.celular }}</td>
								        <td class="text-center pl-0 pr-0">
							        		<button type="button" id="btnAgregaProd" onclick="ACTIONS_BTNS.btnAgregaProd(this);" data-idcli="{{ cliente.idCliente }}" data-nomcli="{{ cliente.apellidoNom }}" data-iddom="{{ cliente.idDomicilio }}" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="Agregar/Ver productos"><i class="fas fa-plus-square"></i></button>
							        	</td>
							        	<td class="text-center pl-0 pr-0">
											<button type="button" id="btnOrdenCli" onclick="ACTIONS_BTNS.btnOrdenCli(this);" data-idcli="{{ cliente.idCliente }}" data-orden="{{ cliente.ordenVisita }}" data-nomcli="{{ cliente.apellidoNom }}" data-iddom="{{ cliente.idDomicilio }}" class="btn btn-warning btn-sm ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Editar orden"><i class="fas fa-list-ol"></i></button>
										</td>
										<td class="text-center pl-0 pr-0">
											<button type="button" id="btnBorrarCli" onclick="ACTIONS_BTNS.btnBorrarCli(this);" data-idcli="{{ cliente.idCliente }}" data-nomcli="{{ cliente.apellidoNom }}" data-iddom="{{ cliente.idDomicilio }}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Borrar"><i class="fas fa-trash-alt"></i></button>
								        </td>
								    </tr>
								{% endif %}
							{% endfor %}
				    	{% endif %}
				    </tbody>
				</table>
			</div>