{# Para incluir en tBody#tabBody de table#tabClientes #}

	{% for clie in clientes %}
		<tr>
			<td>{{ clie.ApellidoNombre }} ({{ clie.Id }}) <small>{{ clie.Direccion }}, {{ clie.Localidad }}</small></td>
			<td>{{ clie.Dispensers }}</td>
			<td class="cellRight">{{ clie.cantBx12 }}</td>
			<td class="cellRight">{{ clie.cantBx20 }}</td>
			<td class="cellRight">$ {{ clie.CostoAbono|number_format(2, ',', '.') }}</td>

			{% if clie.PeriodoFact == 'si' %}

				<td class="cellRight">$ {{ clie.ImporteFact|number_format(2, ',', '.') }}</td>
				<td class="text-center"><h5><span class="badge badge-success"> SI </span></h5></td>
				<td></td>

			{% else %}

				<td class="cellRight">
					<input id="input_{{ clie.Id }}" class="form-control form-control-sm cellRight nroFloat celInputAbono" type="text" value="{{ clie.CostoAbono }}">
				</td>
				<td></td>
		        <td class="text-center pl-0 pr-0"><button type="button" id="btnConf_{{ clie.Id }}" onclick="FACTABONO.clickConfirm(this);" name="{{ clie.Id }}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Confima abono"><i class="fas fa-edit"></i></button></td>

			{% endif %}

        	<td class="text-center pl-0 pr-0">
				<button type="button" id="btnVerProd_{{ clie.Id }}" onclick="FACTABONO.clickProds(this);" name="{{ clie.Id }}" data-name="{{ clie.ApellidoNombre }}" class="btn btn-warning btn-sm ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Ver prod. entregados"><i class="fas fa-layer-group"></i></button>
			</td>
        	<td class="text-center pl-0 pr-0">
				<button type="button" id="btnVerDetal_{{ clie.Id }}" onclick="FACTABONO.clickDetallado(this);" name="{{ clie.Id }}" class="btn btn-info btn-sm ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Ver resumen detallado"><i class="fas fa-list-ul"></i></button>
			</td>
	    </tr>

	{% endfor %}
