<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="{{ path_for('home') }}">
      <img src="{{ base_url() }}/img/logo-cesarini.png" width="80" height="40" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">

			{% if auth.user.Nivel == 'admin' %}
			    <li id="linkBorrar" class="nav-item {{ (accion == 'Nueva') ? ' disabled' : ' active' }}">
		        	<a id="linkBorrar" class="nav-link" href="#"{{ (accion == 'Nueva') ? ' disabled' : '' }}>Eliminar</a>
			    </li>
			{% endif %}

		    <li class="nav-item active">
		        <a class="nav-link buscar" href="#modalBuscaVisita" data-toggle="modal" data-target="#modalBuscaVisita">Buscar</a>
		    </li>
		    <li class="nav-item active">
	        	<a class="nav-link" href="{{ path_for('home') }}">Salir</a>
		    </li>
    	</ul>
    </div>
</nav>
