<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ base_url() }}/img/favicon.ico">

	   <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">

		<!-- Mis estilos css -->
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/estilosPrint.css">
		<title>{{ titulo }}</title>
	</head>
	<body>
		<header>
			<div class="container-fluid">
				<div class="row justify-content-end">
					<div class="col-md-2">
						<button id="btnImprimir" type="button" class="btn btn-primary">Imprimir</button>
						<button id="btnVolver" type="button" class="btn btn-link">Volver</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<hr>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<br>
					<h3 class="text-center mb-0"><strong>Listado de Clientes - {{ accion }}</strong></h3>
				</div>
			</div>
			<div class="row tablaDetalleVisitas">
				<div class="col">

					{% if tipoList == 3 %}    {# CON DISPENSERS #}
						<table class="table table-sm table-hover">
					    	<thead class="thead-dark">
							    <tr class="small">
							        <th id="cellRight">Id</th>
							        <th>Apellido Nombre</th>
							        <th>Fantasía</th>
							        <th>Dirección</th>
							        <th>Localidad</th>
							        <th id="cellRight">Cod. Postal</th>
							        <th>Id Disp.</th>
							        <th>N.I.-Modelo</th>
							        <th>Fecha desde</th>
							    </tr>
					    	</thead>
					    	<tbody>
								{% for clie in listado %}
									<tr class="small">
								        <td id="cellRight">{{ clie.IdCliente }}</td>
								        <td>{{ clie.ApellidoNombre }}</td>
								        <td>{{ clie.Fantasia }}</td>
								        <td>{{ clie.Direccion }}</td>
								        <td>{{ clie.Localidad }}</td>
								        <td id="cellRight">{{ clie.CodPostal }}</td>
								        <td id="cellRight">{{ clie.IdDispenser }}</td>
								        <td>{{ clie.Modelo }}</td>
								        <td>{{ clie.Fecha|date('d/m/Y', timezone="America/Buenos_Aires") }}</td>
									</tr>
								{% endfor %}
					    	</tbody>
					    </table>

					{% elseif tipoList == 4 %}    {# CON ABONO #}

						<table class="table table-sm table-hover table-striped">
					    	<thead class="thead-dark">
							    <tr class="small">
							        <th id="cellRight">Id</th>
							        <th>Apellido Nombre</th>
							        <th>Fantasía</th>
							        <th>Dirección</th>
							        <th>Localidad</th>
							        <th id="cellRight">Cod. Postal</th>
							        <th id="cellRight">Dispensers</th>
									<th id="cellRight">Costo Abono</th>
							    </tr>
					    	</thead>
					    	<tbody>
								{% for clie in listado %}
									<tr class="small">
								        <td id="cellRight">{{ clie.Id }}</td>
								        <td>{{ clie.ApellidoNombre }}</td>
								        <td>{{ clie.NombreFantasia }}</td>
								        <td>{{ clie.Direccion }}</td>
								        <td>{{ clie.Localidad }}</td>
								        <td id="cellRight">{{ clie.CodPostal }}</td>
								        <td id="cellRight">{{ clie.Dispensers }}</td>
								        <td id="cellRight">$ {{ clie.CostoAbono|number_format(2, ',', '.') }}</td>
									</tr>
								{% endfor %}
					    	</tbody>
					    </table>

					{% else %}

						<table class="table table-sm">
				    		<thead>
				    			<tr>
							        <th id="cellRight">Id</th>
							        <th>Apellido Nombre</th>
							        <th>Dirección</th>
							        <th>Localidad</th>
							        <th>Provincia</th>
							        <th id="cellRight">Cod. Postal</th>
							        <th>Cuit</th>
							        <th>Condic. Fiscal</th>
							    </tr>
				    		</thead>
				    		<tbody>
								{% for clie in listado %}
									<tr>
								        <td id="cellRight">{{ clie.Id }}</td>
								        <td>{{ clie.ApellidoNombre }}</td>
								        <td>{{ clie.Direccion }}</td>
								        <td>{{ clie.Localidad }}</td>
								        <td>{{ clie.Provincia }}</td>
								        <td id="cellRight">{{ clie.CodPostal }}</td>
								        <td>{{ clie.CUIT }}</td>
								        <td>{{ clie.CondicionFiscal }}</td>
									</tr>
								{% endfor %}
				    		</tbody>
						</table>
					{% endif %}

				</div>
			</div>    {# end row #}
		</div>  {# end container #}

		<script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript">

			// Codigo jQuery
			$(document).ready(function(){

				// Para boton volver
				$('#btnVolver').click( function() {

			    	window.close();
			    });

				// Boton Imprimir
				$('#btnImprimir').click( function() {
                    window.print();
				});

			});
		</script>

	</body>
</html>
